html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.displayParent {
  height: 100px;
}

.displayWord {
  height: 75px;
  text-align: center;
  letter-spacing: 20px;
  font-size: 40px;
  padding-top: 30px;
  margin-bottom: 15px;
}

p {
  font-size: 50px;
  height: 60px;
  width: 60px;
  text-align: center;
}

.actualLetter {
  margin-bottom: 0px;
}

.buttons {
  font-size: 30px;
}

#letters {
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
}

.resetHolder {
  display: flex;
  justify-content: center;
}

#reset {
  text-align: center;
  width: 120px;
  font-size: 20px;
  color: white;
  background-color: red;
  cursor: pointer;
}
